  body {
  background-color: #b2b9a6;
  text-align: center;
  }

  h1 {
  display: inline-block;
  background-color: #F5F3E7;
  font-family: 'roboto', sans-serif;
  padding: 10px 222px;;
  font-weight: 900;
  font-size: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #101014;
  margin: 10px;
  }

  /* KALLAX */

  .kallax {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 10px;
    width: 800px;
    height: 100%;
    background-color: #b2b9a6;
    margin: auto;
    z-index: 1;
    justify-self: center;
    object-position: center;
    justify-content: center;
  }
  
  .kallax-item {
    background-color: #b2b9a6;
    height: 100%;
    width: 100%;
    object-position: center;
    justify-content: center;
  }

   /* FOTO'S PLATEN */

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #101014;
  }

  footer {
  text-align: center;
  }

  button {
    background-color: #F5F3E7;
    font-family: 'roboto', sans-serif;
    padding: 10px 367px;;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em;
    margin: 10px;
    cursor: pointer;
  }
  
  button:hover {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

  /* SPOTIFY */
  
  .player-container {
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000, 5px 5px 5px #000000;
    margin: 30px auto;
    overflow: hidden;
    padding: 5px;
    width: 300px;
    background-color: #282828; 
  }
  
 /* FLIP (PLATEN) */

  .flip-card {
    perspective: 1000px;
    width: 265px;
    height: 265px;
    display: flex;
  }
  
  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner, .flip-card-back, .flip-card-back2 {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back, .flip-card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-back, .flip-card-back2 {
    background-color: #282828;
    color: #F5F3E7;
    font-family: 'roboto', sans-serif;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #282828;
  }
  
  .flip-card-back h2, .flip-card-back2 h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .flip-card-back p, .flip-card-back2 p {
    font-size: 1.3rem;
    padding: 0px 10px;
  }

  .flip-card-back2 {
    background-color: #e4ddc9;
    color: #282828;
  }

  .flip-card-back a {
    font-family: 'roboto', sans-serif;
    color: #F5F3E7;
    text-decoration: none;
    }

  .flip-card-back2 a {
    font-family: 'roboto', sans-serif;
    color: #282828;
    text-decoration: none;
    }

