body {
  background-color: #b2b9a6;
}

h1 {
  text-align: center;
  font-family: 'roboto', sans-serif;
  color: #F5F3E7;
  padding: -10px 10px;
  height: auto;
}

.kallax {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    width: 800px;
    height: 100%;
    background-color: #b2b9a6;
    padding: 0 px 10px;
    margin: auto;
    z-index: 1;
  }
  
  .kallax-item {
    background-color: #b2b9a6;
    height: 100%;
    width: 100%;
    object-position: center;
    justify-content: center;
  }

  .card {
    width: 198.5px;
    height: 198.5px;
    border-radius: 1em;
    padding: 1.9rem;
    background: #f5f5f5;
    position: relative;
    display: flex;
    align-items: end;
    z-index: 2;
   }
   
   .card-info {
    position: relative;
    left: -10%;
    bottom: -7%;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
    z-index: 2;
   }
   
   /*Text*/
   .text-title {
    font-size: 100%;
    font-weight: 700;
    text-align: left;
    font-family:'roboto', sans-serif;
    background-color: #F5F3E7;
    color: black;
    padding: 3px 5px;
    border-radius: 3px;
    display: inline;
    border: 1.5px solid black;
    width: fit-content;
   }
   
   .text-body {
    font-size: 75%;
    background-color: #F5F3E7;
    color: black;
    font-family:'roboto', sans-serif;
    padding: 3px 5px;
    text-align: left;
    position: relative;
    border-radius: 3px;
    margin-top: 5px;
    border: 1.5px solid black;
    width: fit-content;
   }
   
   /*Hover*/
   .card:hover .card-info {
    opacity: 1;
   }

   /*Image*/
   img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #101014;
  }

  footer {
  text-align: center;
  }

  button {
    background: #F5F3E7;
    font-family: 'roboto', sans-serif;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em;
    margin: 10px;
    cursor: pointer;
  }
  
  button:hover {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  